<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Your are going to delete this user : <%= user.name %></h2>
    <form method="post" action="/users/<%=user.id%>?_method=DELETE">
        <h4>Confirm Password to Delete</h3>
        <input type="password" name="password"  placeholder="Enter password">
        <button>Submit</button>
    </form>
</body>
</html>